<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1 class="title"><%=title%></h1>
    <p><%=usernames%></p>
    <form method="GET" action="/search" class="form">
      <label for="searchUser">Search User:</label><br />
      <input type="text" id="searchUser" name="searchUser" /><br />
      <button class="submit" id="submit">Submit</button>
    </form>
    <form method="GET" action="/delete">
      <button class="delete" id="delete">Delete users</button>
    </form>
  </body>
</html>
